# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/
NEW_CA1_ENV/
# Flask instance
instance/

# Jupyter
.ipynb_checkpoints/

# Large original models (too big for Git)
Model/best_model.pkl
Model/best_model_compressed.pkl.gz

# Optional: logs
*.log
